@font-face {
  font-family: 'Blender-book';
  src: url("blender/blenderpro-book-webfont.eot");
  src: url("blender/blenderpro-book-webfont.eot?#iefix") format("embedded-opentype"), url("blender/blenderpro-book-webfont.woff") format("woff"), url("blender/blenderpro-book-webfont.ttf") format("truetype"), url("blender/blenderpro-book-webfont.svg#blender_probook") format("svg"); }

@font-face {
  font-family: 'Blender-medium';
  src: url("blender/blenderpro-medium-webfont.eot");
  src: url("blender/blenderpro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("blender/blenderpro-medium-webfont.woff") format("woff"), url("blender/blenderpro-medium-webfont.ttf") format("truetype"), url("blender/blenderpro-medium-webfont.svg#blender_promedium") format("svg"); }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: "Blender-book", "Blender", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #646464;
  background-color: #1d1d1d;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 15.75px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #646464;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

p {
  font-family: "Blender-medium", "Blender", Arial, sans-serif; }

/**
 * Site header
 */
.site-header {
  border: 0;
  padding-top: 1em;
  margin-bottom: 2em;
  position: fixed;
  height: 7em;
  background-color: rgba(29, 29, 29, 0.8);
  width: 100%;
  z-index: 1000;
  text-transform: uppercase; }

.site-title h2 {
  letter-spacing: -1px;
  margin-bottom: 0; }
  .site-title h2 a {
    text-decoration: none; }
  .site-title h2, .site-title h2:visited {
    color: #424242; }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 15.75px;
  color: #828282; }

.post-link {
  display: block; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }

/*Transformative specific*/
h1, h2, h3, h4, h5 {
  font-family: "Blender-medium", "Blender", Arial, sans-serif;
  color: #b4b4b4; }

.h1-subtitle, .h2-subtitle, .h3-subtitle, .h4-subtitle, .h5-subtitle {
  font-family: "Blender-book", "Blender", Arial, sans-serif;
  color: #b4b4b4; }

h2 {
  font-size: 144.4444444444444%; }

h3 {
  font-size: 111.1111111111111%; }

blockquote {
  font-size: 122.2222222222222%; }

.tagline {
  font-size: 88.88888888888889%;
  font-style: italic; }

a:link {
  color: #b4b4b4;
  text-decoration: underline; }
a:visited {
  color: #cecece; }
a:hover {
  text-decoration: none; }
a:focus {
  background-color: orange; }
a .active {
  color: #967745; }

img:hover {
  filter: brightness(0.9); }

nav ul {
  display: inline-block; }
nav li {
  display: inline-block; }
nav .contact-links {
  float: right; }
  nav .contact-links li {
    width: 3em; }
nav .nav-links {
  margin: auto; }
  nav .nav-links li {
    margin-right: 2em; }

.masthead {
  display: block; }

.site-title {
  line-height: 90%; }

ul.very-small-nav-links {
  position: absolute;
  top: 5px;
  right: 1em; }

.very-small-nav-links li {
  display: block; }

.issue-number {
  color: #1d1d1d;
  background-color: #b4b4b4;
  height: 92px;
  width: 92px;
  border-radius: 50%;
  text-align: center; }
  .issue-number span.number {
    font-size: 55px;
    display: block;
    line-height: 75%;
    padding-top: 0.2em; }
  .issue-number span.issue {
    text-transform: uppercase; }

.page-heading h1 {
  line-height: 85%;
  text-transform: uppercase;
  margin-bottom: 0;
  display: block;
  width: 100%; }
.page-heading p.h1-subtitle {
  line-height: 95%;
  display: block;
  width: 100%; }

.editorial {
  overflow: hidden;
  height: 370px;
  margin-bottom: 3em; }
  .editorial .post-picture {
    display: none; }
  .editorial p {
    color: #636363; }

.project-stories p {
  margin: 0;
  font-size: 120%; }

.primary-story {
  padding-left: 30px;
  padding-right: 30px; }
  .primary-story img {
    height: 370px; }

.secondary-story img {
  height: 185px; }

.primary-story h2, .secondary-story h2 {
  margin: 0; }

.post-picture {
  position: relative; }
  .post-picture img {
    width: 100%;
    object-fit: cover; }
    .post-picture img:hover {
      -webkit-filter: grayscale(50%);
      -moz-filter: grayscale(50%);
      filter: grayscale(50%); }
  .post-picture .post-number {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    width: 34px;
    height: 34px;
    color: #1d1d1d;
    background-color: #b4b4b4;
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    line-height: 200%; }

a.post-link {
  line-height: 100%; }

.post-list > li {
  margin-bottom: 1em; }

.bvn-mark {
  fill: #646464; }

.site-footer {
  border: none; }

span.in-post-nav {
  margin-right: 1em; }

p.in-post-nav {
  font-size: 110%;
  text-align: center;
  position: fixed;
  top: 4em;
  z-index: 1500; }

.nav-arrow {
  display: block;
  width: 64px;
  height: 64px;
  border: 1px solid #646464;
  border-radius: 50%;
  position: fixed;
  top: 0;
  margin: auto;
  fill: #646464; }
  .nav-arrow:hover {
    border-color: #b4b4b4;
    fill: #b4b4b4; }

.nav-arrow.go-prev {
  transform: rotate(180deg); }

/*temp stuff*/
.page-heading {
  padding-left: 30px; }

h1.site-title {
  margin-left: -15px; }

.page-content {
  padding-top: 8em;
  max-width: 1400px;
  margin: auto; }

.site-footer .attr {
  float: right; }
  .site-footer .attr a {
    text-decoration: none; }
.site-footer svg {
  height: 2em; }

table {
  width: 100%; }

th {
  width: 33%;
  color: #b4b4b4;
  font-size: 144.4444444444444%; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #ffdddd; }
  .highlight .gd .x {
    color: #000;
    background-color: #ffaaaa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #aa0000; }
  .highlight .gh {
    color: #999999; }
  .highlight .gi {
    color: #000;
    background-color: #ddffdd; }
  .highlight .gi .x {
    color: #000;
    background-color: #aaffaa; }
  .highlight .go {
    color: #888888; }
  .highlight .gp {
    color: #555555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaaaaa; }
  .highlight .gt {
    color: #aa0000; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #009999; }
  .highlight .s {
    color: #dd1144; }
  .highlight .na {
    color: teal; }
  .highlight .nb {
    color: #0086b3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: teal; }
  .highlight .ni {
    color: purple; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555555; }
  .highlight .nt {
    color: navy; }
  .highlight .nv {
    color: teal; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf {
    color: #009999; }
  .highlight .mh {
    color: #009999; }
  .highlight .mi {
    color: #009999; }
  .highlight .mo {
    color: #009999; }
  .highlight .sb {
    color: #dd1144; }
  .highlight .sc {
    color: #dd1144; }
  .highlight .sd {
    color: #dd1144; }
  .highlight .s2 {
    color: #dd1144; }
  .highlight .se {
    color: #dd1144; }
  .highlight .sh {
    color: #dd1144; }
  .highlight .si {
    color: #dd1144; }
  .highlight .sx {
    color: #dd1144; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #dd1144; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999999; }
  .highlight .vc {
    color: teal; }
  .highlight .vg {
    color: teal; }
  .highlight .vi {
    color: teal; }
  .highlight .il {
    color: #009999; }
