---
layout: default
---
<div class="home">
    <div class="row">
      <div class="col-md-2">
        <div class="issue-number"><span class="number">4</span><span class="issue">issue</span></div>
      </div>
      <div class="col-md-10">
        <h1 class="page-heading">Transformative:
                          <small>The architecture of work culture</small></h1>
      </div>
    </div>
    <ul class="post-list">
        {% for post in site.posts%}
          {% if forloop.first == true %}
          <li class="col-md-">
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <img src="{{post.featuredimg}}">
              <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          </li>
          {% else %}
          <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <img src="{{post.featuredimg}}">
              <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          </li>
          {% endif %}
        {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>
</div>
