---
layout: default
---
<div class="home">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-2">
            <div class="issue-number"><span class="number">4</span><span class="issue">issue</span></div>
        </div>
        <div class="col-sm-12 col-md-10">
            <h1 class="page-heading">Transformative:<small>The architecture of work culture</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-2">
            <div class="editorial">
                {% assign post = site.posts.first %}
                <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                {{post.content}}
            </div>
            <div class="project-stories hidden-xs hidden-sm">
              <h2>Project Stories</h2>
                {% for page in site.pages %}
                  {% if page.title %}
                  <p><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></p>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-8 col-md-10">
            <ul class="post-list">
              {% for post in site.posts offset:1%}
                {% if forloop.first %}
                <li class="col-sm-12 primary-story">
                {% else %}
                <li class="col-md-6 col-lg-3 secondary-story">
                {% endif %}
                  <div class="post-picture">
                      <img src="{{post.featuredimg}}" alt="{{post.alttext}}" title="{{post.titletext}}">
                      <div class="post-number">{{forloop.index}}</div>
                  </div>
                  <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                  <p>{{post.tagline}}</p>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml " | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
