---
layout: null
---

@charset "utf-8";

@font-face{
    font-family: 'Blender-book';
    src: url('blender/blenderpro-book-webfont.eot'                );
    src: url('blender/blenderpro-book-webfont.eot?#iefix'         ) format('embedded-opentype'),
         url('blender/blenderpro-book-webfont.woff'               ) format('woff'),
         url('blender/blenderpro-book-webfont.ttf'                ) format('truetype'),
         url('blender/blenderpro-book-webfont.svg#blender_probook') format('svg');
}
// @font-face{
//     font-family: 'Blender-bold';
//     src: url('blender/blenderpro-bold-webfont.eot'                );
//     src: url('blender/blenderpro-bold-webfont.eot?#iefix'         ) format('embedded-opentype'),
//          url('blender/blenderpro-bold-webfont.woff'               ) format('woff'),
//          url('blender/blenderpro-bold-webfont.ttf'                ) format('truetype'),
//          url('blender/blenderpro-bold-webfont.svg#blender_probold') format('svg');
// }
@font-face{
    font-family: 'Blender-medium';
    src: url('blender/blenderpro-medium-webfont.eot'                );
    src: url('blender/blenderpro-medium-webfont.eot?#iefix'         ) format('embedded-opentype'),
         url('blender/blenderpro-medium-webfont.woff'               ) format('woff'),
         url('blender/blenderpro-medium-webfont.ttf'                ) format('truetype'),
         url('blender/blenderpro-medium-webfont.svg#blender_promedium') format('svg');
}

// Our variables
$base-font-family: 'Blender-book', "Blender", Arial, sans-serif;
// $bold-font-family: 'Blender-bold', "Blender", Arial, sans-serif;
$medium-font-family: 'Blender-medium', "Blender", Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       rgba(100, 100, 100, 1);
$heading-color:    rgba(180, 180, 180, 1);
$emphasis-color:   rgba(150, 119,  69, 1);
$background-color: rgba( 25,  25,  25, 1);
$brand-color:      rgba( 42, 122, 226, 1);

$grey-color:       rgba(130,130,130,1);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import "layout";
@import "quote-and-content";
@import "carousel";
@import "syntax-highlighting";
@import "project-details-box";
@import "blockquotes";
@import "header";
@import "modal";