---
layout: default
---

<div class="post row">
    <div class="col-sm-offset-1 col-sm-1 hidden-xs">
        {% if page.next %}
            <a href="{{ page.next.url | prepend: site.baseurl }}" title="go to the previous article"><span class="nav-arrow go-prev">{% include arrow.svg %}</span></a>
        {% endif %}
    </div>
    <div class="col-sm-8">
    	<p class="in-post-nav">
        {% assign post = site.posts.first %}
        <span class="in-post-nav"><a href="{{ post.url | prepend: site.baseurl }}" {% if page.url == post.url %}class="this-page"{% endif %}>{{ post.title }}</a></span>
        {% for post in site.posts offset:1 %}
        <span class="in-post-nav">{{forloop.index | pad}}. <a href="{{ post.url | prepend: site.baseurl }}" {% if page.url == post.url %}class="this-page"{% endif %}>{{ post.title }}</a></span>
        {% endfor %}</p>

        <header class="post-header">
            <h1 class="post-title">{{ page.title }} {{page.subtitle}}</h1>
        </header>
        <article class="post-content">
            {% picture {{page.assetsfolder}}/{{page.imgfeatured}} alt="An unsual picture" %}

            {{ content }}
        </article>
    </div>
    <div class="col-sm-1 hidden-xs">

        {% if page.previous %}
            <a href="{{ page.previous.url | prepend: site.baseurl }}" title="go to the next article"><span class="nav-arrow go-next">{% include arrow.svg %}</span></a>
        {% endif %}
    </div>
</div>
