figure.quote {
    blockquote {
    	font-family: $medium-font-family;
        border: none;
        padding: 0;
    }
    figcaption {
        font-size: 78%;
        font-style: italic;
        span.person {}
        cite {}
        span.date{}
    }
}
