figure.quote {
    blockquote {
    	font-family: $medium-font-family;
    }
    figcaption {
    	font-size: 78%;
  		font-style: italic;
        span.person {}
        cite {}
        span.date{}
    }
}