header.site-header {
    border: 0;
    padding-top: 1em;
    margin-bottom: 2em;
    position: fixed;
    height: 7em;
    background-color: $background-color;
    width: 100%;
    z-index: 900;
    text-transform: uppercase;
    .site-title {
        .subtitle {}
        h2 {
            letter-spacing: -1px;
            margin-bottom: 0;
            a {
                text-decoration: none;
                &:visited {
                    // color: $heading-color;
                }
            }
        }
    }
    nav {
        ul {
            display: inline-block;
        }
        li {
            display: inline-block;
        }
        .contact-links {
            float: right;
            li {
                width: 3em;
            }
        }
        .nav-links {
            margin: auto;
            li {
                margin-right: 2em;
            }
        }
    }
    .site-nav {}
    .masthead {
        display: block;
    }
    .site-title {
        line-height: 90%;
    }
    ul.very-small-nav-links {
        position: absolute;
        top: 5px;
        right: 1em;
    }
    .very-small-nav-links {
        li {
            display: block;
        }
    }
}
