/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/*Transformative specific*/
a{
  &:link    { color: $text-color;}//Unvisited link.
  &:visited { color: darken( $text-color, 20%);}//Visited links.
  &:hover   { color: lighten($text-color, 20%);}//The user mouses over a link.
  &:focus   { background-color: orange;}//The user clicks on a link.
  &:active  { color: rgba(149,118,68,1)}//The user has clicked a link.
}

//header
nav{
  text-transform: uppercase;
  ul{
    display: inline-block;
  }
  li {
    display: inline-block;
  }
  .contact-links{
    float: right;
    li{width: 3em;}
  }
  .nav-links{
    float:left;
    li{margin-right: 2em;}
  }
}
.site-nav {
    float: right;
    display: block;
    width: 65%;
    height: 30px;
  }
.masthead {
  display: block;
}
.site-title {
  line-height: 90%;
  margin-top: 5px;
}
.site-header {
  border: 0;
  padding-top: 1em;
  margin-bottom: 2em;
}
ul.very-small-nav-links {
  position: absolute;
  top: 5px;
  right: 1em;
}
.very-small-nav-links {
  li {display: block;}
}
//end header

.issue-number {
  color: $background-color;
  background-color: $text-color;
  height: 92px;
  width: 92px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  span.number {
      font-size: 75px;
      display: block;
      line-height: 77%;
  }
  span.issue{}
}
.page-heading {
  h1{
      font-family: $medium-font-family;
      line-height: 85%;
      text-transform: uppercase;
      margin-bottom: 0;
      display: block;
      width: 100%;
  }
  p {
    line-height: 95%;
    //font-size: 45px;
    display: block;
    width: 100%;
  }
}

.editorial {
  overflow: hidden;
  height: 370px;
  margin-bottom: 3em;
  .post-picture{display: none;}
  p{color: rgba(99,99,99,1);}
}
.project-stories {
  p {
    margin: 0;
    font-size: 120%;
  }
}

.primary-story {
  padding-left:  30px;
  padding-right: 30px;
  img {
    height: 370px;
  }
}
.secondary-story img {
  height: 185px;
}
.primary-story h2, .secondary-story h2 {
  margin: 0;
}

.post-picture {
  position: relative;
  img {
      width: 100%;
      object-fit: cover;
    }
  .post-number {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 18px;
      width: 34px;
      height: 34px;
      color: $text-color;
      background-color: $background-color;
      border-radius: 50%;
      text-align: center;
      margin: 10px;
      line-height: 200%;
    }
}

a.post-link {
  font-size: 26px;
  line-height: 100%;
  font-weight: bold;
}

.post-list > li {
  margin-bottom: 1em;
}

//footer
.bvn-mark{fill: $text-color}
.site-footer{border: none;}
//end footer


//post specific
span.in-post-nav {
  margin-right: 1em;
}
p.in-post-nav {
  text-align: center;
}
.nav-arrow {
  display: block;
  width:  64px;
  height: 64px;
  border: 1px solid silver;
  border-radius: 50%;
  text-align: center;
  font-size: 220%;
  margin-top: 200px;
}
//end post specific

/*temp stuff*/
// .row{border: 1px dashed red;}

// .site-header .wrapper div {
//   border: 1px solid red;
// }

#responsive_headline {
  margin-left: -0.08em;
}
h1.site-title {
  margin-left: -15px;
}