/**
 * Site header
 */
.site-header {
  border: 0;
  padding-top: 1em;
  margin-bottom: 2em;
  position: fixed;
  height: 5em;
  background-color: rgba(29, 29, 29, 0.80); 
  width: 100%;
  z-index: 1000;
  text-transform: uppercase;
}

.site-title {
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/*Transformative specific*/

h1,h2,h3,h4,h5{
  font-family: $medium-font-family;
  color:       $heading-color;
}
.h1-subtitle,.h2-subtitle,.h3-subtitle,.h4-subtitle,.h5-subtitle{
  font-family: $base-font-family;
  color:       $heading-color;
}
h2{         font-size: 144.4444444444444%;}
h3{         font-size: 111.1111111111111%;}
blockquote{ font-size: 122.2222222222222%;}
.tagline{   font-size: 88.88888888888889%; font-style: italic;}

a{
  &:link    { color: $heading-color; text-decoration: underline;}//Unvisited link.
  &:visited { color: lighten( $heading-color, 10%);}//Visited links.
  &:hover   { color: $emphasis-color; text-decoration: none;}//The user mouses over a link.
  &:focus   { background-color: orange;}//The user clicks on a link.
  //&:active  { color: $emphasis-color;}//The user has clicked a link.
}


img:hover {
  filter: brightness(0.9); //TODO make this work
}


//header
nav{
  ul{
    display: inline-block;
  }
  li {
    display: inline-block;
  }
  .contact-links{
    float: right;
    li{width: 3em;}
  }
  .nav-links{
    float:left;
    li{margin-right: 2em;}
  }
}
.site-nav {
    float: right;
    display: block;
    width: 65%;
    height: 30px;
  }
.masthead {
  display: block;
}
.site-title {
  line-height: 90%;
  margin-top: 5px;
}
.site-header {
  border: 0;
  padding-top: 1em;
  margin-bottom: 2em;
}
ul.very-small-nav-links {
  position: absolute;
  top: 5px;
  right: 1em;
}
.very-small-nav-links {
  li {display: block;}
}
//end header

.issue-number {
  color: $background-color;
  background-color: $heading-color;
  height: 92px;
  width: 92px;
  border-radius: 50%;
  text-align: center;
  //margin: auto;
  span.number {
    font-size: 55px;
    display: block;
    line-height: 75%;
    padding-top: 0.2em;
  }
  span.issue{
    text-transform: uppercase;
  }
}
.page-heading {
  h1{
      line-height: 85%;
      text-transform: uppercase;
      margin-bottom: 0;
      display: block;
      width: 100%;
  }
  p.h1-subtitle {
    line-height: 95%;
    display: block;
    width: 100%;
  }
}

.editorial {
  overflow: hidden;
  height: 370px;
  margin-bottom: 3em;
  .post-picture{display: none;}
  p{color: rgba(99,99,99,1);}
}
.project-stories {
  p {
    margin: 0;
    font-size: 120%;
  }
}

.primary-story {
  padding-left:  30px;
  padding-right: 30px;
  img {
    height: 370px;
  }
}
.secondary-story img {
  height: 185px;
}
.primary-story h2, .secondary-story h2 {
  margin: 0;
}

.post-picture {
  position: relative;
  img {
      width: 100%;
      object-fit: cover;
    }
  .post-number {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 18px;
      width: 34px;
      height: 34px;
      color: $text-color;
      background-color: $background-color;
      border-radius: 50%;
      text-align: center;
      margin: 10px;
      line-height: 200%;
    }
}

a.post-link {
  line-height: 100%;
}

.post-list > li {
  margin-bottom: 1em;
}

//footer
.bvn-mark{fill: $text-color}
.site-footer{border: none;}
//end footer


//post specific
span.in-post-nav {
  margin-right: 1em;
}
p.in-post-nav {
  text-align: center;
  position: fixed;
  top: 2.5em;
  z-index: 1500;
}
.nav-arrow {
  display: block;
  width:  64px;
  height: 64px;
  border: 1px solid silver;
  border-radius: 50%;
  text-align: center;
  font-size: 220%;
  margin-top: 200px;
  position: fixed;
  
}
.nav-arrow.go-prev {
    transform: rotate(180deg);
  }
//end post specific

/*temp stuff*/
// .row{border: 1px dashed red;}

// .site-header .wrapper div {
//   border: 1px solid red;
// }

.page-heading{
  padding-left: 30px;
}
h1.site-title {
  margin-left: -15px;
}
.page-content{
  padding-top: 5em;
  max-width: 1400px;
  margin: auto;
}
.site-footer{
  .attr {
    float: right;
  }
  svg {
    width: 5em;
  }
}