.quote-and-content{
  div.quote{
    width: 30%;
    display: inline-block;
  }
  div.content{
    width: 70%;
    float: left;
    display: inline-block;
  }
  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}

@media (max-width: 1200px){
    .quote-and-content{
      div.quote{
        width: 100%;
      }
      div.content{
        width: 100%;
      }
    }
}