<footer class="site-footer">
    <div class="wrapper">
        <div class="attr"><a href="site.publisher_website">Presented by {% include bvn-mark.svg %}</a></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <iframe src="https://docs.google.com/forms/d/1nMWCrwJ-rbbA5fh1JMvs65nciN6Adb5loiBtJj3__94/viewform?embedded=true" style="width:100%; height:500px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</footer>
