<header class="site-header">
    <div class="wrapper row">
        <div class="site-title col-xs-5 col-sm-4 col-md-3 col-lg-3">
            <h2><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>
            <p >Issue 4 / 2015</p>
        </div>
        <nav class="site-nav">
            <div class="hidden-xs col-sm-8 col-md-6 col-lg-6">
                <ul class="nav-links">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li>Browse issues</li>
                    <li>Register</li>
                    <li><a href="http://bvn.com.au">BVN</a></li>
                </ul>
            </div>
            <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                <ul class="contact-links">
                    <li><a href="http://twitter.com/{{site.twitter_username}}">TW</a></li>
                    <li><a href="{{site.facebook-publisher}}">FB</a></li>
                    <li><a href="mailto:stella_devulder@bvn.com.au?Subject=Transformative%20Contact&Body=Hi%20Stella%2C%0AJolly%20good%20show%20with%20this%20Transformative%20business%21" title="Email us">EMAIL</a>
                        <!--http://www.cha4mot.com/t_mailto.html go here to update this-->
                    </li>
                </ul>
            </div>
            <ul class="very-small-nav-links visible-xs-block">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li>Browse issues</li>
                <li>Register</li>
                <li><a href="http://bvn.com.au">BVN</a></li>
            </ul>
        </nav>
    </div>
</header>
