<header class="site-header">
    <div class="wrapper row">
        <div class="col-xs-6 col-sm-4">
            <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a><small class="masthead">Issue 4 / 2015</small></h1>
        </div>
        <nav class="site-nav">
            <div class="col-xs-6 col-sm-10 col-md-8">
                <ul class="nav-links hidden-xs">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li>Browse issues</li>
                    <li>Register</li>
                    <li><a href="http://bvn.com.au">BVN</a></li>
                </ul>
            </div>
            <div class="hidden-xs hidden-sm col-md-4">
                <ul class="contact-links">
                    <li><a href="http://twitter.com/architecturebvn">TW</a></li>
                    <li>FB</li>
                    <li><a href="mailto:stella_devulder@bvn.com.au?Subject=Transformative%20Contact&Body=Hi%20Stella%2C%0AJolly%20good%20show%20with%20this%20Transformative%20business%21" title="Email us">EMAIL</a>
                        <!--http://www.cha4mot.com/t_mailto.html go here to update this-->
                    </li>
                </ul>
            </div>
            <ul class="very-small-nav-links visible-xs-block">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li>Browse issues</li>
                <li>Register</li>
                <li><a href="http://bvn.com.au">BVN</a></li>
            </ul>
        </nav>
    </div>
</header>
